# mass34/.ebextensions/01_config.config

option_settings:
  # RUTA WSGI: Confirma que la ruta interna es correcta
  aws:elasticbeanstalk:container:python:
    WSGIPath: projectmass34/projectmass34/wsgi.py 
    
  # Variables de Entorno de Django (solo las que NO son sensibles)
  aws:elasticbeanstalk:application:environment:
    DJANGO_ENV: production
    # Deja los valores sensibles (SECRET_KEY, DATABASE_URL) en el panel de AWS por seguridad
    DJANGO_ALLOWED_HOSTS: ".elasticbeanstalk.com" 

container_commands:
  # 1. Recolectar archivos estáticos
  01_collectstatic:
    command: "python projectmass34/manage.py collectstatic --noinput"

  # 2. Ejecutar migraciones (Usa leader_only para entornos de un solo servidor/prototipo)
  02_migrate:
    command: "python projectmass34/manage.py migrate --noinput"
    leader_only: true